{
 "workingdirectory" : ".\\",
 #Color map according to [ChiuSJ2015_BOE]
 "retinallayerscolormap": {
    "Inner Limiting Membrane": [1, 2, 3],
	  "Nerve Fiber Layer": [0, 128, 255],
	  "Ganglion Cell Layer": [0, 255, 255],
	  "Inner Plexiform Layer": [0, 255, 128],
	  "Inner Nuclear Layer": [0, 255, 0],
	  "Outer Plexiform Layer": [255, 255, 0],
	  "Outer Nuclear Layer": [255, 0, 255],
	  "External Limiting Membrane": [1, 2, 3],
	  "Rods and Cones Layers": [255, 0, 0],
	  "Retinal Pigment Epithelium": [204, 0, 0],
	  "Choroid": [255, 204, 153],
	  "Fluid": [0, 0, 255]
 }
}
