## The following line was originally added for Git LFS. As from 24-Feb-2019
## this project no longer uses Git LFS, and installers are hosted in OSF.
# build/*.zip filter=lfs diff=lfs merge=lfs -text
